//====================================================================================================
.btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #ffffff;
    padding: 10px 44px;
    background: #fa8b02;
    border-radius: 50px;
    &:active {
        border: 2px solid #8f5003;
        transition: all 0.3s;
    }
    @media (min-width: $mobile) {
        &:hover {
            color: #dddddd;
            transition: all 0.1s;
            font-size: toRem(20.5);
        }
    }
}

//========================================================================================================================================================

// section-one

.section-one {
    margin: toRem(-170) toRem(0) toRem(0) toRem(0);
    &__container {
        @media (max-width: toEm(1600)) {
            max-width: toRem(1220);
        }
        @media (max-width: $mobile) {
            padding: toRem(0) toRem(0) toRem(0) toRem(0);
        }
    }
    &__background {
        position: relative;
        padding: 0px 0px 38.49% 0px;
        & img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
        @media (max-width: $mobile) {
            min-height: 400px;
        }
        @media (max-width: toEm(400px)) {
            min-height: 450px;
        }
    }

    &__box-text {
        position: relative;
        top: 300px;
        max-width: toRem(1450);
        margin: 0px auto;
        @media (max-width: $pc) {
            top: 200px;
        }
        @media (max-width: $mobile) {
            top: 200px;
        }
    }
    &__title {
        position: relative;
        font-family: "Podcast";
        font-style: normal;
        font-weight: 400;
        font-size: toRem(72);
        line-height: 73px;
        text-align: center;
        color: #ffffff;
        margin: toRem(0) toRem(0) toRem(20) toRem(0);
        @media (max-width: $mobile) {
            font-size: toRem(52);
            line-height: 43px;
        }
        @media (max-width: $mobileSmall) {
            font-size: toRem(32);
        }
    }

    &__subtitle {
        position: relative;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        color: #ffffff;
        text-align: center;
        @media (max-width: $mobile) {
            font-size: toRem(18);
            line-height: 20px;
        }
        @media (max-width: $mobileSmall) {
            font-size: toRem(14);
        }
    }
}
.section-one__form {
    position: relative;
    z-index: 15;
    top: 452px;
    @media (max-width: $pc) {
        top: 350px;
    }
    @media (max-width: $mobile) {
        display: none;
        top: 180px;
    }
}

.section-one-form-one {
    @media (max-width: $mobile) {
        width: 100%;
        min-height: 270px;
        background-color: #ffffff1b;
        border-radius: 15px;
    }
}

.section-one__form-block {
    position: absolute;
    z-index: 155;
    padding: 0px 0px 0px 40px;
    top: -70px;
    left: 33px;
    width: toRem(172);
    height: toRem(57);
    background-color: #fff;
    border-top-left-radius: 15px;
    font-weight: 600;
    font-size: 18px;
    line-height: 58px;
    text-align: center;
    color: #fa8b02;
    letter-spacing: 1px;
    &::before {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        top: 17px;
        left: 17px;
        background: url("@img/section-one/public.png") 0 0 no-repeat;
        @media (max-width: $mobileSmall) {
            left: 5px;
        }
    }
    @media (max-width: $mobile) {
        position: relative;
        font-size: toRem(14);
        top: -57px;
        left: 0;
        transform: translate(-50%, 0px);
        width: 50%;
        display: flex;
        align-items: center;
        line-height: 12px;
        padding: toRem(0) toRem(0) toRem(0) toRem(50);
    }
    @media (max-width: $mobileSmall) {
        font-size: toRem(10);
        padding: toRem(0) toRem(0) toRem(0) toRem(35);
    }
}

.section-one__form-block-two {
    position: absolute;
    z-index: 155;
    padding: 0px 0px 0px 40px;
    top: -70px;
    left: 205px;
    width: toRem(184);
    height: toRem(57);
    background-color: #ffffff4a;
    border-top-right-radius: 15px;
    font-weight: 600;
    font-size: 18px;
    line-height: 58px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 1px;
    @media (max-width: $mobile) {
        font-size: toRem(14);
        position: relative;
        top: 0;
        left: 0;
        transform: translate(50%, 0px);
        width: 50%;
        display: flex;
        align-items: center;
        line-height: 12px;
        padding: toRem(0) toRem(0) toRem(0) toRem(50);
        @media (max-width: $mobileSmall) {
            font-size: toRem(10);
            padding: toRem(0) toRem(0) toRem(0) toRem(35);
        }
    }
    &::before {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        top: 17px;
        left: 17px;
        background: url("@img/section-one/private.png") 0 0 no-repeat;
        @media (max-width: $mobileSmall) {
            left: 5px;
        }
    }
}

.section-one__form-buttom-box {
    display: none;
    @media (max-width: $mobile) {
        display: block;
        position: relative;
        z-index: 100;
        top: 230px;
        margin: 0px auto;
    }
}
.section-one__form-buttom {
    display: none;
    @media (max-width: $mobile) {
        display: block;
        position: relative;
        z-index: 10;
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #ffffff;
        padding: toRem(0) toRem(20) toRem(0) toRem(20);
        background-color: #fa8b02;
        top: 230px;
        margin: 0px auto;
        border-radius: 5px;
    }
}

.form {
    margin: 0px 0px 100px 33px;
    position: relative;
    z-index: 150;
    background-color: #ffffff1b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    @media (min-width: $mobile) {
        max-width: toRem(1383);
        min-height: toRem(270px);
    }
    @media (max-width: $mobile) {
        position: relative;
        top: 0px;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 700px;
        padding: toRem(0) toRem(0) toRem(90) toRem(0);
        margin: toRem(0) toRem(0) toRem(0) toRem(0);
        background: rgba(163, 232, 255, 0.64);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
    }

    &::before {
        content: "";
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 112px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        @media (max-width: $mobile) {
            display: none;
        }
    }
}
.input {
    position: relative;
    z-index: 150;
    flex: 0 1 50%;
    font-weight: 400;
    font-size: toRem(18);
    line-height: 25px;
    color: #8e8e8e;
    margin: toRem(3) toRem(0) toRem(0) toRem(8);
    padding: toRem(0) toRem(5) toRem(0) toRem(5);
    letter-spacing: 1px;
    @media (max-width: $tablet) {
        margin: toRem(0) toRem(0) toRem(0) toRem(0);
        background-color: #fff;
    }
}
.select {
    flex: 0 1 25%;
    z-index: 150;
    margin: toRem(4) toRem(0) toRem(0) toRem(30);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #8e8e8e;
    & :focus {
        border: 1px solid #ffffff;
    }
    @media (max-width: $mobile) {
        flex: 0 1 5%;
        margin: toRem(0) toRem(0) toRem(0) toRem(0);
    }
}
.select-box {
    position: relative;
    z-index: 150;
    display: inline-block;
    letter-spacing: 1px;
    margin: toRem(0) toRem(10) toRem(0) toRem(0);
}
.select-text {
    position: relative;
    z-index: 150;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    padding: toRem(0) toRem(0) toRem(0) toRem(30);
}

.form__select-number {
    flex: 0 1 17%;
    margin: 0px 0px -4px 4px;
    padding: toRem(0) toRem(0) toRem(0) toRem(20);
    &::before {
        content: "";
        position: absolute;
        z-index: 150;
        background: url("@img/section-one/icon.png") 0 0 no-repeat;
        width: 100%;
        height: 100%;
        top: 4px;
        left: 15px;
        @media (max-width: $mobile) {
            left: 0;
        }
    }

    @media (max-width: toEm(1343)) {
        display: none;
    }
    @media (max-width: $mobile) {
        display: block;
        width: 90%;
        margin: toRem(-10) toRem(0) toRem(60) toRem(0);
        padding: toRem(0) toRem(0) toRem(0) toRem(0);
    }
}

.form__select-time {
    flex: 0 1 13%;
    margin: 0px 0px -4px 24px;
    &::before {
        content: "";
        position: absolute;
        z-index: 150;
        background: url("@img/section-one/icon2.png") 0 0 no-repeat;
        width: 100%;
        height: 100%;
        top: 2px;
        left: 4px;
    }
    @media (max-width: toEm(1343)) {
        padding: 0px 0px 0px 0px;
    }
    @media (max-width: $mobile) {
        width: 90%;
        margin: toRem(0) toRem(0) toRem(60) toRem(0);
    }
}
.form__select-tour {
    flex: 0 1 12%;
    padding: 0px 0px 0px 5px;
    margin: 0px 0px -4px -7px;
    &::before {
        content: "";
        position: absolute;
        z-index: 150;
        background: url("@img/section-one/icon 4.png") 0 0 no-repeat;
        width: 100%;
        height: 100%;
        top: 1px;
        left: 0px;
    }
    @media (max-width: $mobile) {
        width: 90%;
        padding: toRem(0) toRem(0) toRem(0) toRem(0);
        margin: toRem(0) toRem(0) toRem(60) toRem(0);
    }
}
.form__select-transportation {
    margin: 0px -30px -4px 0px;
    flex: 0 1 18%;
    &::before {
        content: "";
        position: absolute;
        z-index: 150;
        background: url("@img/section-one/icon3.png") 0 0 no-repeat;
        width: 100%;
        height: 100%;
        top: 1px;
        left: -1px;
    }
    @media (max-width: $mobile) {
        width: 90%;
        margin: toRem(0) toRem(0) toRem(60) toRem(0);
    }
}
.form__select-date {
    position: relative;
    padding: toRem(0) toRem(0) toRem(0) toRem(40);
    margin: 0px 0px 0px -25px;
    flex: 0 1 12%;
    &::before {
        content: "";
        position: absolute;
        z-index: 150;
        background: url("@img/section-one/icon5.png") 0 0 no-repeat;
        width: 100%;
        height: 100%;
        top: 1px;
        left: 40px;
        @media (max-width: $mobile) {
            left: 0px;
        }
    }
    @media (max-width: $mobile) {
        width: 90%;
        margin: toRem(0) toRem(0) toRem(0) toRem(0);
        padding: toRem(0) toRem(0) toRem(0) toRem(0);
        order: 4;
    }
}
.form-button {
    flex: 0 1 8.5%;
    position: relative;
    z-index: 150;
    @media (min-width: $mobile) {
        &:hover {
            top: 2px;
            left: 2px;
            transition: all 0.3s;
        }
    }

    @media (max-width: $mobile) {
        top: 100px;
        right: 5%;
    }
    &::before {
        content: "";
        position: absolute;
        width: 80px;
        height: 80px;
        top: -40px;
        left: 2px;
        background-color: #fa8b02;
        border-radius: 15px;

        @media (max-width: toEm(1343)) {
            top: -25px;
            left: 2px;
            width: 50px;
            height: 50px;
        }
    }
    &::after {
        content: "";
        position: absolute;
        width: 32px;
        height: 32px;
        top: -14px;
        left: 25px;
        background: url("@img/section-one/icons-search.png") 0 0 no-repeat;
        @media (max-width: toEm(1343)) {
            top: -15px;
            left: 10px;
        }
    }
}

.active-form {
    background-color: #ffffff4a;
    color: #ffffff;
}
.active-form-two {
    background-color: #fff;
    color: #fa8b02;
}
.active {
    display: block;
}
.form-button {
    padding: toRem(0) toRem(0) toRem(0) toRem(0);
    margin: toRem(0) toRem(0) toRem(0) toRem(0);
}
// section-two

.section-two {
    position: relative;
    z-index: 10;
    background-color: #fff;
    padding: toRem(120) toRem(0) toRem(0) toRem(0);
    @media (max-width: $mobile) {
        padding: toRem(40) toRem(0) toRem(0) toRem(0);
    }
    &__container {
        @media (max-width: toEm(1600)) {
            max-width: toRem(1220);
        }
    }

    &__box-row {
        display: flex;
        justify-content: space-between;
        margin: toRem(0) toRem(0) toRem(40) toRem(0);
        @media (max-width: $mobile) {
            flex-direction: column;
            align-items: end;
            margin: toRem(0) toRem(0) toRem(40) toRem(0);
        }
    }

    &__title-slider {
        font-weight: 800;
        font-size: 32px;
        font-size: toRem(32);
        line-height: 44px;
        color: #333333;
        margin: toRem(0) toRem(0) toRem(20) toRem(0);
        @media (max-width: $mobile) {
            margin: 0px auto;
            text-align: center;
        }
    }

    &__box-button {
        @media (max-width: $mobile) {
            padding: toRem(20) toRem(50) toRem(0) toRem(0);
        }
        @media (max-width: toEm(640)) {
            display: none;
        }
    }

    &__article {
        padding: toRem(0) toRem(0) toRem(20) toRem(0);
        width: 95%;
        @media (max-width: toEm(767)) {
            width: 95%;
            margin: 0px auto;
        }
    }

    &__article-image {
        position: relative;
        padding: 0px 0px 122.973% 0px;
        @media (max-width: $mobile) {
            padding: 0px 0px 70.973% 0px;
            margin: 0px 0px 0px 0px;
        }
        @media (max-width: toEm(640)) {
            padding: 0px 0px 50.973% 0px;
        }
        & img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            border-radius: 15px;
            @media (max-width: toEm(767)) {
                width: 75%;
                left: 50%;
                transform: translate(-50%, 0px);
            }
            @media (max-width: toEm(640)) {
                width: 55%;
                left: 50%;
                transform: translate(-50%, 0px);
            }
        }
        & a {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 15px;
            @media (max-width: toEm(767)) {
                width: 55%;
                left: 50%;
                transform: translate(-50%, 0px);
            }
            @media (max-width: toEm(640)) {
                width: 55%;
                left: 50%;
                transform: translate(-50%, 0px);
            }
            &:hover {
                background-color: #0000001e;
                transition: all 0.3s;
                border-radius: 15px;
            }
        }
    }

    &__article-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 2px;
        color: #333333;
        margin: toRem(0) toRem(0) toRem(15) toRem(0);
        @media (max-width: toEm(1600)) {
            font-size: toRem(20);
        }

        @media (max-width: $mobile) {
            margin: toRem(20) toRem(0) toRem(20) toRem(0);
            text-align: center;
            font-size: toRem(24);
        }
    }

    &__article-box-row {
        display: flex;
        justify-content: space-between;
        margin: toRem(0) toRem(0) toRem(9) toRem(0);
    }

    &__article-text {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #333333;
        opacity: 0.8;
    }

    &__article-number {
        font-size: 24px;
        line-height: 33px;
        color: #fa8b02;
    }

    &__article-text-two {
        position: relative;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #fa8b02;
        padding: toRem(0) toRem(0) toRem(5) toRem(30);
        &::before {
            content: "";
            position: absolute;
            width: 24px;
            height: 24px;
            top: 0;
            left: 0px;
            background: url("@img/section-two/icon2.png") 0 0 no-repeat;
        }
    }

    &__article-text-three {
        position: relative;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #fa8b02;
        padding: toRem(0) toRem(0) toRem(0) toRem(20);
        &::before {
            content: "";
            position: absolute;
            width: 24px;
            height: 24px;
            top: 0;
            left: -10px;
            background: url("@img/section-two/icon1.png") 0 0 no-repeat;
        }
    }

    &__article-text-four {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #333333;
    }
}
.swiper-button-prev {
    position: relative;
    width: 50px;
    height: 50px;
    background: #fa8b02;
    border-radius: 50%;
    margin: toRem(0) toRem(10) toRem(0) toRem(0);
    @media (max-width: toEm(1600)) {
        width: 45px;
        height: 45px;
    }
    @media (max-width: toEm(640)) {
        background-color: #ffffff00;
    }
    &:active {
        border: 2px solid #aa5d00;
        transition: all 0.3s;
    }
    &::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #ffffff;
        transform: rotate(-45deg);
        top: 18px;
        left: 12px;
        @media (max-width: toEm(1600)) {
            width: 18px;
            height: 2px;
            left: 11px;
            top: 17px;
        }
        @media (max-width: toEm(640)) {
            background-color: #fa8b02;
        }
    }
    &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #ffffff;
        transform: rotate(45deg);
        top: 31px;
        left: 13px;
        @media (max-width: toEm(1600)) {
            width: 18px;
            height: 2px;
            left: 11px;
            top: 27.8px;
        }
        @media (max-width: toEm(640)) {
            background-color: #fa8b02;
        }
    }
}

.swiper-button-next {
    position: relative;
    width: 50px;
    height: 50px;
    background: #fa8b02;
    border-radius: 50%;
    transform: rotate(-180deg);
    &:active {
        border: 2px solid #aa5d00;
        transition: all 0.3s;
    }
    @media (max-width: toEm(1600)) {
        width: 45px;
        height: 45px;
    }
    @media (max-width: toEm(640)) {
        background-color: #ffffff00;
    }
    &::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #ffffff;
        transform: rotate(-45deg);
        top: 17px;
        left: 12px;

        @media (max-width: toEm(1600)) {
            width: 18px;
            height: 2px;
            left: 11px;
            top: 15px;
        }
        @media (max-width: toEm(640)) {
            background-color: #fa8b02;
        }
    }
    &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #ffffff;
        transform: rotate(45deg);
        top: 30px;
        left: 13px;

        @media (max-width: toEm(1600)) {
            width: 18px;
            height: 2px;
            left: 11px;
            top: 26.8px;
        }
        @media (max-width: toEm(640)) {
            background-color: #fa8b02;
        }
    }
}

.block__more {
    position: relative;
    z-index: 100;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #fa8b02;
    margin: toRem(10) toRem(0) toRem(0) toRem(0);
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 25%;
        left: 110%;
        background: url("@img/section-two/Vector.png") 0 0 no-repeat;
    }
}

// section-thre

.section-three {
    margin: toRem(100) toRem(0) toRem(150) toRem(0);
    @media (max-width: $mobile) {
        margin: toRem(20) toRem(0) toRem(0) toRem(0);
        padding: toRem(20) toRem(20) toRem(80) toRem(20);
    }

    &__row {
        display: flex;
        @media (max-width: $mobile) {
            display: block;
        }
    }

    &__image {
        position: relative;
        flex: 0 1 410px;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 25px;
            background: url("@img/section-three/1.png") 0 0 no-repeat;
        }
        @media (max-width: $mobile) {
            display: none;
        }
    }

    &__box {
        position: relative;
        flex: 1 1 100%;
        padding: 100px 70px 0px 70px;
        @media (max-width: $tablet) {
            padding: 100px 40px 0px 40px;
        }
        @media (max-width: $mobile) {
            padding: 0px 0px 0px 0px;
        }
    }

    &__subtitle {
        font-weight: 600;
        font-size: toRem(16);
        line-height: 22px;
        color: #333333;
    }

    &__title {
        position: relative;
        font-weight: 800;
        font-size: toRem(32);
        line-height: 44px;
        color: #333333;
        margin: toRem(0) toRem(40) toRem(20) toRem(0);
    }

    &__text {
        font-size: 18px;
        line-height: 32px;
        color: #333333;
        margin: toRem(0) toRem(0) toRem(20) toRem(0);
    }

    &__box-row {
        display: flex;
        @media (max-width: $mobile) {
            flex-wrap: wrap;
        }
    }

    &__column {
        flex: 0 1 25%;
        @media (max-width: $mobile) {
            flex: 0 1 50%;
            margin: toRem(0) toRem(0) toRem(20) toRem(0);
        }
    }

    &__number {
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        color: #fa8b02;
        margin: toRem(0) toRem(0) toRem(10) toRem(0);
        @media (max-width: $mobile) {
            text-align: center;
        }
    }

    &__column-text {
        font-size: 16px;
        line-height: 26px;
        color: #333333;
        opacity: 0.6;
        @media (max-width: $mobile) {
            text-align: center;
        }
    }
}

// section-four

.section-four {
    margin: toRem(0) toRem(0) toRem(100) toRem(0);
    @media (max-width: $mobile) {
        margin: toRem(100) toRem(0) toRem(0) toRem(0);
    }

    &__row {
        min-height: toRem(450);
        background-color: #cba07a;
    }

    &__text-content {
        position: relative;
        z-index: 100;
        padding: toRem(40) toRem(20) toRem(40) toRem(20);
        background-color: #af9682;
        max-width: toRem(570);
        min-height: toRem(330);
        border-radius: 15px;
        transform: translate(0px, 20%);
    }

    &__tite {
        font-weight: 800;
        font-size: 32px;
        line-height: 44px;
        text-align: center;
        color: #333333;
        margin: toRem(0) toRem(0) toRem(40) toRem(0);
    }

    &__text {
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        margin: toRem(0) toRem(0) toRem(20) toRem(0);
    }

    &__button {
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0px);
    }

    &__image {
        display: flex;
        justify-content: end;
        transform: translate(0px, -100%);
    }
}

//====================================================================================================
